
 .imgrw {  
  display: flex;
  display: -ms-flexbox; /* IE10 */
   
   
   
} 
.team{  
  display: flex;
  text-align: left;
  
  color: white;
} 
.head {  
   
  text-align: left;
  
  color: white;
  display: flex;
} 
.cntent {  
  text-align: left;
 
  color: white;
  display: flex;
} 

.img1 {
  
  margin-right: .5%;
  min-height: 0%;
    
 }
 .tm {
  padding-left: 2%;
  font-size: 60%;
  margin-right: .5%;
  padding-top: 2%;
  margin-top: 0%;
  background-color: rgb(110, 103, 153);
  margin-bottom: 0%;
  object-fit: contain;}

  .hd {
    padding-left: 2%;
    font-size: 150%;
    margin-right: .5%;
    margin-top: 0%;
    padding-top: 2%;
    
    margin-bottom: 0%;
    font-weight: bold;
    background-color: rgb(110, 103, 153);
     
    }
    .hd1 {
      padding-left: 2%;
      font-size: 150%;
      margin-right: .5%;
      margin-top: 0%;
      padding-top: 2%;
      padding-right: 1%; 
      margin-bottom: 0%;
      font-weight: bold;
      background-color: rgb(110, 103, 153);
       
      object-fit: contain;}
    .cntnt {
      padding-left: 2%;
      padding-right: 2%;
      font-size: 60%;
      margin-right: .5%;
      margin-top: 0%;
      padding-top: 2%;
       
      padding-bottom: 2%; 
      margin-bottom: 0%; 
      background-color: rgb(110, 103, 153);
       
       }
       .athr {
        padding-left: 2%;
        font-size: 60%;
        margin-right: .5%;
        margin-top: 0%;
        background-color: rgb(110, 103, 153);
        padding-bottom: 2%; 
        object-fit: contain;}
  
 body {
   margin: 0;
   background-color: rgb(47, 47, 121)  ;
   padding: 0;
   font-family: Arial;
 }
  
 .txt {
  background-color: rgb(110, 103, 153);
 width: 32%;
 margin-right: .5%;
 margin-top: 0%;
 margin-bottom: 1%;
  
 color: white;
 text-align: center;
 font-weight: bold;
   
 }
 
 
 .row2{  
  display: flex;
  display: -ms-flexbox; 
  
  
   
} 
   .main {   
    margin: 2%;
       
  } 

  .img2{
    width: 45%; 
    margin-right: .7%;
     padding-bottom: 0%; 
   }
   .teama{  
    display: flex;
    text-align: left;
    align-content: flex-start;
    color: white;
  } 

.stmnt
{
  margin-left: 10%;
  margin-right: 10%;
}

button {
  width: 70%;
  height: 30pt;
  background-color: mediumpurple;
  color: white;
  
  font-weight: bold;
  margin: 8px 0;
  border: none;
  font-size: 60%;
  border-radius: 4px;
  cursor: pointer;
}

