* {
    box-sizing: border-box;
  }
  body {
    background-color: rgb(47, 47, 121)  ;
  }
  body {
    margin: 0;
    font-family: Arial;
  }
  
   
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    margin: 5% ;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
   
    margin-right: 0%;
  }
  
   
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    margin: 5px;
     
     
  }
  
  .column img {
    margin-top: 3px;
    vertical-align: middle;
    width: 100%;
  }
  
   
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
   
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
 
  div.desc {
    padding-top: 1px  ;
    text-align: left;
    padding-left: 2%;
    background-color: rgb(110, 103, 153);
    color: white;
    width: 100%;
    min-height:18%;
  }
   
.para{
  white-space: nowrap;
  width: 100%;
  overflow: hidden; 
  text-overflow: ellipsis;
  display: -webkit-box;
  height:100%;
  -webkit-line-clamp: 7;
   -webkit-box-orient: vertical;
    margin-top: 8%;
     
    
}
  
   
  .col {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 40%;
  
    margin: 5px;
     
  }
  
  .col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    min-height:15%;
  }
  
   
  @media screen and (max-width: 800px) {
    .col {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
   
  @media screen and (max-width: 600px) {
    .col {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  .col2 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
   padding-left: 4px;
  
     
  }
  
  .col2 img {
    margin-top: 0%;
    min-height: 25% ;
    vertical-align: middle;
    width: 100%;
  }
  
  
  div.desc1 {
    padding-top: 0.01%;
     
    font-size: 138.5%;
    background-color: rgb(110, 103, 153);
    color: white;
    text-align: center;
    padding-bottom: 4%;
    min-height: 30%;
    font-weight: bold;
    margin-bottom: 5%;
    
  }

  .row2 {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    
    margin-top: 0%;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    
  }

  button {
    width: 70%;
    height: 30pt;
    background-color: mediumpurple;
    color: white;
    
    font-weight: bold;
    
    border: none;
    font-size: 50%;
    border-radius: 4px;
    cursor: pointer;
  }
  
  div.desc2 {
    padding-top: 4%;
    text-align: left;
    min-height:27%;
    background-color: rgb(110, 103, 153);
    color: white;
    padding-left: 4%; 
    margin-bottom: 9%;
  
    
  }
  div.desc3 {
    padding-top: 15px;
    text-align: left;
    padding-left: 6%;
    background-color: rgb(110, 103, 153);
    color: white;
    min-height: 18%;
    width: 207.1%;
       
  }